<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supply Chain | Home</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
   
    <!--Navbar-->
    <nav id="nav" class="navbar nav1">
        <div class="max-width new">
            <div class="logo"><a href="index.html"><i class="fas fa-shield-alt " style="font-size:40px;color:black;"></i> Supply<span> Chain</span></a></div>
                <ul class="menu">
                    <li class="active"><a  href="#home">HOME</a></li>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#footer">CONTACT</a></li>
                    <li><a href="signup.html">SIGN UP</a></li>
                    <li><a href="signin.html">SIGN IN</a></li>     
                </ul>
                <div class="menu-btn">
                    <i class="fas fa-bars"></i>
                </div>
        </div>
    </nav>

    <!--Home Section-->

    <header id="home" class="home header_section">
        <div class="max-width2">
        
            <div class="text-2">Agricultural Supply Chain</div>
            <div class="text-3">Join India’s most trusted platform for <br><span>enhanced supply chain </span>visibility to<br>build trust and maximize long term<br>value for your business.</div>
            <a href="signup.html">Get Started</a>
          
            <!--<img class="hero" src="img/hero-img.png" alt="">-->
        </div>
 
        
        
    </header>
    
    <!--About Section-->
    <main id="about" class="about_section">
       
        <h1 >About</h1>
        <p >
            Agricultural Supply Chain platform provides a seamless access to all the participants in the food supply 
            chain to add or exchange data. Information captured serves a single source of truth from farm to fork 
            enabling better control on the supply chains which in turn helps with food safety, product recalls and 
            sustainability initiatives.
        </p>
         
      

    </main>
     <!--Footer Section-->
    <footer id="footer" class="footer_section">
      
            <div class="footer-content">
                <h3>Supply Chain</h3>
                
                <ul class="socials">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>copyright &copy; 2022 <a href="#">Team</a>  </p>
                        <div class="footer-menu">
                          <ul class="f-menu">
                            <li><a href="">Home</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Contact</a></li>
                            <li><a href="">Sign in</a></li>
                            <li><a href="">Sign up</a></li>
                          </ul>
                        </div>
            </div>
    
       
       
        



    </footer>
    <script src="/public/js/script.js"></script>
    <script src="https://kit.fontawesome.com/576c7b8fe3.js" crossorigin="anonymous"></script>
</body>
</html>