<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supply Chain | Login</title>
    <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
    <div class="wrapper">

		
		<div class="form_container">
		  <form name="form" method="post" action="dashboard.html">
        <div class="heading">
        <h2>Supply Chain | Login</h2>
      </div>
			
			<div class="form_wrap">
				<div class="form_item">
					<label>Email Address</label>
					<input type="text">
					<div class="error" id="email"></div>  
				</div>
			</div>
			<div class="form_wrap">
				<div class="form_item">
					<label>Password</label>
					<input type="password">
					<div class="error" id="password"></div>  
				</div>
			</div>
			<div class="form_wrap">
				<div class="form_item">
					
					<a href="signup.html">Not yet Registered?</a>
					
				</div>
			</div>
		

			<div class="btn">
			  <a href="dashboard.html" class="log">Login</a>
			</div>
		  </form>
		</div>
	  </div>

    
</body>
</html>